# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# SQLite
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# miniprogram
mall-littleprogram/miniprogram_npm/
